.body {
    padding: 10px;
    /* max-width: 1100px;
     */
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.content {
    align-items: last baseline;
    justify-content: center;
}

.box_content {
    /* margin: 20px 20px; */
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url("https://img.freepik.com/premium-photo/business-man-working-laptop-with-job-search-screen_218381-8578.jpg");
    color: rgb(237, 235, 241);
}

/* .search_job{
    margin: 0% 0% 0% 0%;
    padding: 20px;
    background-color:bisque;
} */